
{% extends "pizzas/base.html" %}



{% block content %}




<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Style the body */
body {
  font-family: Luminari,fantasy ;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #d8350d;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>


<div class="header">
    <h1>Welcome to the Pizzeria!</h1>
    <p>Baked Fresh Every Day.</p>
  </div>

  



<div class="content">
  <h1>Our Mission</h1>
  <p>Spread the joy of good food to Waco, Texas.</p>
</div>

<div>

  {% if pizza.header_image %}
  <img src="{{ pizza.header_image.url }}" class="img-thumbnail" style="max-height: height 300px" alt="">
  {% endif %}
  
</div>



</body>
</html>

{% endblock content %}