{% extends "pizzas/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Pizzas</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

/* Style the body */
body {
  font-family: Luminari,fantasy ;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #d8350d;
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;
  background: #d8350d;
  color: white;
  font-size: 20px;}
</style>
</head>
<body>

<div class="content">
<p>Pizzas</p>
</div>


<ul>
    {% for p in pizzas %}

    <li> 
        <a href="{% url 'pizzas:pizza' p.id%}" >{{ p }} </a>
        

    </li>
    {% empty %} 
    <li> No pizzas have been added yet.</li>

    {% endfor %}

</ul>


{% endblock content %}
</body>